/*
@font-face {
	font-family: "Arial";
}
*/

section {
	page-margin: 30pt 31pt 32pt 33pt;
}

h1 {
	display: block;
	font-size: 16pt;
	font-family: "Times }new Roman", flat, "asdasd", "zcxxzc";
	text-shadow: 3pt 3pt #fff; 
}
p {
	display: block;
	margin: 10pt 0pt;
}
span {
	color: #00f;
}
strong {
	font-weight: bold;
}
strong:hover {
	text-decoration: underline;
}
p.special > span strong {
	color: inherit;
}
p.special strong {
	color: #fff;
}

p.special > strong {
	color: #f80;
}